/*Components CSS files*/

@import url(../Shiba-recipe-v2/components/card.css);
@import url(../Shiba-recipe-v2/components/nav.css);
@import url(../Shiba-recipe-v2/components/contact.css);
@import url(../Shiba-recipe-v2/components/badge.css);
@import url(../Shiba-recipe-v2/components/banner.css);
@import url(../Shiba-recipe-v2/components/tabs.css);
@import url(../shiba-recipe-v2/components/section.css);


* {
    text-align: center;
}

body {
    font-family: Helvetica;
    color: black;
    background-color: rgb(245, 245, 245);
}



h1 {
    font-family: Courier;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: lighter;
    color: grey;
}



/* Footer Design*/


footer {
    padding: 20px;
    font-size: 20px;
}

footer h1 {
    text-align: center;
    font-size: 20px;
}


footer ul {
    list-style: none;
}

footer a {
    color: lightgrey;
    font-size: 35px;
}

footer a:hover {
    color: rgb(3, 3, 3);
}

/* Hello how are you doing my name is bill. I am good I also like pancakes and waffles. */